@use '../../../shared/styles/adaptive' as *;
@use '../../../shared/styles/variables' as *;

.fileInput {
  background: $icon-bg;
  border: none;
  color: $text-light;
  padding: get-responsive-unit(12) get-responsive-unit(22);
  border-radius: 50%;
  display: flex;
  align-items: center;
  gap: get-responsive-unit(8);
  font-size: get-responsive-unit(35);
  height: get-responsive-unit(70);
  width: get-responsive-unit(70);
  cursor: pointer;
  pointer-events: all;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./svg/load.svg');
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  padding: 0;

  &__input {
    display: none;
  }

  &Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: get-responsive-unit(10);
    font-size: get-responsive-unit(25);
  }
}
