@use '../../../shared/styles/adaptive' as *;
@use '../../../shared/styles/variables' as *;

.editor {
  position: absolute;
  pointer-events: none;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  height: 100vh;
  color: #fff;
  font-family: 'Factor A', sans-serif;

  &__saveButton {
    margin-right: get-responsive-unit(80);
  }

  &__playButton {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: get-responsive-unit(20);
  }

  &__selectedMesh {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $icon-bg;
    border: none;
    padding: 0;
    border-radius: get-responsive-unit(35);
    font-size: get-responsive-unit(35);
    height: get-responsive-unit(50);
    width: fit-content;
    padding: 0 get-responsive-unit(30);

    &.disabled {
      background-color: rgba(0, 0, 0, 0.35);
    }
  }

  &__topBar {
    position: absolute;
    display: flex;
    width: calc(100% - 2 * get-responsive-unit(45));
    margin: 0 get-responsive-unit(45);
    top: get-responsive-unit(45);
    gap: get-responsive-unit(10);
  }

  &__sideBar {
    gap: get-responsive-unit(20);
    position: absolute;
    top: get-responsive-unit(120);
    right: get-responsive-unit(40);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
