@use '../../../../../shared/styles/adaptive' as *;
@use '../../../../../shared/styles/variables' as *;

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #e4e1e1;
  border: none;
  padding: get-responsive-unit(10) get-responsive-unit(15);
  cursor: pointer;
  border-radius: get-responsive-unit(15);
  min-width: get-responsive-unit(150);

  &:hover {
    background-color: #e9e9e9;
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 get-responsive-unit(4) get-responsive-unit(8) rgba(0, 0, 0, 0.1);
  border: get-responsive-unit(1) solid #ccc;
  border-radius: get-responsive-unit(4);
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 100%;
  z-index: 10;
}

.dropdown-item {
  padding: get-responsive-unit(10) get-responsive-unit(15);
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #f1f1f1;
  }
}

.item-icon {
  margin-right: get-responsive-unit(10);
}

.selected-content {
  display: flex;
  align-items: center;
  gap: get-responsive-unit(10);
}
