body {
  height: 100vh;
  margin: 0;
}

*:focus {
  outline: none;
}

#editor-canvas {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
}

:root {
  --responsive-unit: 0.1vw;

  @media screen and (min-width: 1000px) {
    --responsive-unit: 1px;
  }
}
